@import 'variables';
section{
    width: 100%;
    margin-left: var(--space-huge);
}

h1{
    font-size: var(--font-h1);
    text-align: start;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-medium);
    
}
.texrd{
    max-width: 70%;
    margin-top:var(--space-large);
}

h2{
    font-size: var(--font-h2);
    width: 500px;
    text-align: justify;
}
p{
    font-size:var(--font-body);
    
    text-align: left;
    margin: 0;
    text-align: justify;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    &:last-child{
        margin-bottom:0;
    }
}

