.about-container{
    display:flex;
    width: calc(100vw - 300px); 
    height: calc(100vh - 300px);
    margin: 150px 150px; 
    padding-bottom: 100px;
    
}
.gallery-image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover{
        transform:scale(1.05)
    }
    
}
h1{
    font-size: 100px;
    text-align: center;
}
.container{
    display: flex;
    
}

.carousel{
    margin-left: 100px;
    width: 500px;
}
h2{
    font-size: 35px;
    width: 500px;
}
p{
    font-size: 20px;
    width: 500px;
    text-align: left;
    margin: 0;
    text-align: justify;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    &:last-child{
        margin-bottom:0;
    }
}

.text-card{
    background-color: darkcyan;
    padding: 25px;
    border-radius: 10px;
}