
.gallery-image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover{
        transform:scale(1.05)
    }
    
}
section{
    width: 100%;
    margin-left: 100px;
}

h1{
    font-size: 70px;
    text-align: start;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px
    
}
.texrd{
    max-width: 70%;
    margin-top: 50px;
}

h2{
    font-size: 35px;
    width: 500px;
    text-align: justify;
}
p{
    font-size: 20px;
    
    text-align: left;
    margin: 0;
    text-align: justify;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    &:last-child{
        margin-bottom:0;
    }
}

