@import 'variables';
.stuff{
    margin-left:var(--space-huge);
}
.contact-links-container{
    margin-top: var(--space-small);
    gap: var(--space-xs);
    display: flex;
    flex-direction: column;
}
.socialmedia-link{
    display: flex;
    flex-direction: row;

    p{
        margin-right: var(--space-xs);
    }
}