.stuff{
    margin-left: 100px;
}
.contact-links-container{
    margin-top: 25px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.socialmedia-link{
    display: flex;
    flex-direction: row;

    p{
        margin-right: 20px;
    }
}