.link-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 30px;
    a{
        font-size: 100px;
        font-family: "Gravitas One", serif;
        color: #D9D9D9;
        margin-bottom: 30px;
    }
}
.a-links{
    display: flex;
    flex-direction: column;
}
.arrow-container{
    width: 100%;
    margin-top: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    animation: bounce 3s ease-out infinite;
}
.homepage-container{
    width: calc(100vw - 300px); 
    height: calc(100vh - 300px);
    margin: 150px 150px; 
}

.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #11282A;
    color: #D9D9D9;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}

.homepage-container {
  animation: fadeInFromTop 3s ease-out;
}

@keyframes fadeInFromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.link-container a {
  transition: all 0.3s ease;
  font-size: 50px;
  text-decoration: none;
  
}

// Bara när man hovrar direkt på en länk
.link-container a:hover {
  transform: scale(1.5);
  
}

html{
  scroll-behavior: smooth;
}
