.link-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: var(--space--medium);
    a{
        font-size:var(--font-hero);
        color: #D9D9D9;
        margin-bottom: var(--space--medium);
    }
}
.intro-div{
  p{
    font-size: var(--space--medium);
    margin-bottom: 0;
  }
  h3{
    font-size: var(--font-hero);
    font-weight: 100;
  }
}
.a-links{
    display: flex;
    flex-direction: column;
}
.homepage-container, .project-container, .about-container, .contact-container{
  max-width: 1200px;
  margin:0 auto;
  min-height: 100vh;
}



body{
    background-color: #11282A;
    color: #D9D9D9;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}

.homepage-container {
  animation: fadeInFromTop 3s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

@keyframes fadeInFromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.link-container a {
  transition: all 0.3s ease;
  font-size: 50px;
  text-decoration: none;
  
}

// Bara när man hovrar direkt på en länk
.link-container a:hover {
  transform: scale(1.5);
  
}

html{
  scroll-behavior: smooth;
}
