@import "variables";
.link-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: var(--space--medium);
    a{
        font-size:var(--font-hero);
        color: #D9D9D9;
        margin-bottom: var(--space--medium);
    }
}
.intro-div{
  p{
    font-size: var(--space--medium);
    margin-bottom: 0;
  }
  h3{
    font-size: var(--font-hero);
    font-weight: 100;
  }
}
.a-links{
    display: flex;
    flex-direction: column;
}
.homepage-container, .project-container, .about-container, .contact-container{
  max-width: 1200px;
  margin:0 auto;
  min-height: 100vh;
}

body{
    background-color: #11282A;
    color: #D9D9D9;
}



.homepage-container {
  animation: fadeInFromTop 3s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

@keyframes fadeInFromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.link-container a {
  transition: all 0.3s ease;
  font-size: 50px;
  text-decoration: none;
  opacity: calc(50%);
  @media (hover:hover){
    &:hover{
      transform:scale(1.5);
      opacity: calc(100%);
    }
  }
  @media(hover:none){
    &:active{
      transform:scale(1.2);
      transition: all 0.1 ease;
    }
  }
  
}



html{
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
    .homepage-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .container{
      padding: 0 25px;
    }

    .intro-div {
        order: 1;
        margin-bottom: var(--space-large);
        p{
          text-align: center;
        }
      }
      
    .link-container {
        order: 2;
        align-items: center;
        margin-top: var(--space-medium);
        width: 100%;
        a{
          opacity:calc(100%);
        }
    }
}

svg{font-size: 45px;

  @media (max-width:768px) 
  {
    font-size: 35px;
  }

}
