@import 'variables';
h1{font-weight: 100;}

.project-card{
    max-width: 100%;
    margin-top: 25px;
    p{
        font-size: 14px;
    }
}

.project-text{
    width: 100%;
    height: 100%;
    
    p{
        color: var(--text-primary);
        font-size: var(--font-body);
    }

}

.btn-container{
    display: flex;
    justify-content: flex-end;
}

.project-link{
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 20px;
    width: 70%;
}
.project-box{
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    margin-left: 3px;
    border-top: 1px solid gray;
    opacity: calc(50%);
    
    &:hover{
        border-top: 1px solid white;
        width: 100%;
        opacity:calc(100%);
    }
}

@media (max-width: 768px) {
    .project-link {
        width: 100%;
        margin-bottom: var(--space-medium);
    }
    
    .project-box {
        width: 100%;
        margin-left: 0;
        
        &:hover {
            width: 100%;
            transform: translateY(-2px);
        }
    }
    
    .btn-container {
        justify-content: center;
        margin-top: var(--space-medium);
    }
}
