h1{font-weight: 100;}

.project-card{
    max-width: 100%;
    margin-top: 25px;
    p{
        font-size: 14px;
    }
}
.project-image{
    width: 100%;
    height:100%;
    background-color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.project-text{
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
    p{
        color: black;
        width: 100%;
        height: 100%;
    }

}

.btn-container{
    display: flex;
    justify-content: flex-end;
}

.project-link{
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 20px;
    width: 70%;
}
.project-box{
    transition: all 0.3s;
    cursor: pointer;
    width: 70%;
    margin-left: 3px;
    
    &:hover{
        border-top: 1px solid white;
        width: 100%;
    }
}
